<div class="container-fluid">
  <navbar></navbar>
  <div class="container body-background">
    <div class="container">
      <table class="table mt-5 table-dark">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot id="tableFooter">
          Total
        </tfoot>
      </table>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
