<div class="container-fluid">
  <navbar></navbar>
  <section class="h-100 h-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div
            class="card card-registration card-registration-2"
            style="border-radius: 15px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div
                      class="d-flex justify-content-between align-items-center mb-5"
                    >
                      <h1 class="fw-bold mb-0 text-black">Cart</h1>
                      <h6 class="mb-0 text-muted">{{ getCartCount() }}</h6>
                    </div>
                    <hr class="my-4" />
                    <div *ngFor="let cartItem of UserCart">
                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="{{ getPhoto(cartItem.item.id!) }}"
                            class="img-fluid rounded-3"
                            alt="Cotton T-shirt"
                          />
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">
                            {{ cartItem.item.title }}
                          </h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <div class="d-md-flex">
                            <input
                              type="button"
                              value="-"
                              class="btn btn-outline-dark mx-3"
                              data-field="quantity"
                              (click)="removeFromCart(cartItem.item.id!)"
                            />
                            <p>{{ cartItem.count }}</p>
                            <input
                              type="button"
                              value="+"
                              class="btn btn-outline-dark mx-3"
                              data-field="quantity"
                              (click)="addToCart(cartItem.item.id!)"
                            />
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">
                            {{ cartItem.count * cartItem.item.price }}
                          </h6>
                        </div>
                      </div>

                      <hr class="my-4" />
                    </div>

                    <div class="pt-5">
                      <h6 class="mb-0">
                        <a routerLink="/" class="text-body"
                          ><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                          to shop</a
                        >
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div
                      class="d-flex flex-column justify-content-between mb-4"
                    >
                      <div
                        class="d-flex justify-content-between"
                        *ngFor="let cartItem of UserCart"
                      >
                        <h6 class="text-uppercase">
                          {{ cartItem.item.title.substring(0, 10) }}...
                        </h6>
                        <h6>
                          <i
                            class="fa-solid fa-x fa-2sm"
                            style="color: #ffffff"
                          ></i>
                        </h6>
                        <h6>{{ cartItem.count }}</h6>
                        <h6>=</h6>
                        <h6>{{ cartItem.count * cartItem.item.price }}</h6>
                      </div>
                      <hr class="my-4" />
                      <!-- <div class="d-flex justify-content-end">
                        <h5>${{ getTotal() }}</h5>
                      </div> -->
                    </div>

                    <h5 class="text-uppercase mb-3">Address</h5>

                    <div class="mb-4 pb-2">
                      <div class="form-floating">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          id="addressSelector"
                          name="address"
                          [(ngModel)]="address"
                        >
                          <option
                            *ngFor="let address of addresses"
                            value="{{ address.id }}"
                          >
                            {{ address.address }}
                          </option>
                        </select>
                        <label for="floatingTextarea2">Address</label>
                      </div>
                    </div>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{ getTotal() }}</h5>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn checkout ms-3" (click)="checkout()">
                        Checkout
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
