<section class="container-fluid vh-100 d-flex flex-row cont">
  <div class="col-7 lt-cont container-fluid d-flex justify-content-center">
    <div class="form w-50">
      <h2 class="text-primary text-center mb-3">Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <!-- Username input -->
        <div class="form-outline mb-3">
          <!-- <label class="form-label" for="username">Username</label> -->
          <input
            type="text"
            class="form-control lr-input"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
          />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <!-- <label class="form-label" for="password">Password</label> -->
          <input
            type="password"
            class="form-control lr-input"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </div>

        <p class="error" [ngClass]="error.length > 0 ? 'visible' : 'invisible'">
          {{ error }}
        </p>

        <div class="d-flex align-items-center mb-4">
          <span>Not registered?</span>
          <a
            routerLink="/register"
            class="text-primary text-decoration-none px-2"
            >Register here</a
          >
        </div>

        <!-- Submit button -->
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary lr-button">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-5 rt-cont">
    <!-- <ng-lottie [options]="options"></ng-lottie> -->
  </div>
</section>
