.navbar{
    margin-left: 25px !important;
    margin-right: 25px !important;
    background-color: white !important;
    width: 100vw !important;
    border-radius: 15px;
}
.nav{
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo{
    padding-left: 10px;
}