@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto:wght@400;500;900&display=swap');

:root {
  --primary: white;
  --secondary: #dcfa26;
  --black:black;
  --red-100: #fee2e2;
  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --green-300: #bef264;
  --green-500: #84cc16;
  --green-700: #4d7c0f;
  --border-radius: 4px;
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: url("assets/bg.jpg") !important;
  background-repeat: repeat-y;
  margin: 0%;
  padding: 0%;
}

.rt-cont{
  background: black;
}
.lt-cont{
  background-color: var(--primary);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.cont{
  background-color: black;
}
.text-primary{
  color: black !important;
}
.lr-input{
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  height: 50px;
  border-radius: 15px;
}
.lr-input:focus{
  border: 1px solid #defa2680 !important;
}
.lr-button{
  height: 50px;
  border-radius: 15px;
  background-color: var(--secondary) !important;
  font-weight: 500 !important;
  border: 0px !important;
  color: var(--black);
}

.lr-button:hover{
  background-color: var(--black) !important;
  color: var(--primary);
}
.form{
  margin-top: 15% !important;
}

.container-fluid{
  padding: 0% !important;
}

.btn1{
  height: 50px;
  border-radius: 15px;
  background-color: var(--black) !important;
  font-weight: 500 !important;
  border: 0px !important;
  color: var(--primary);
}

.btn2{
  height: 40px !important;
  border-radius: 15px !important;
  background-color: var(--black) !important;
  font-weight: 500 !important;
  border: 0px !important;
  color: var(--primary) !important;
}

.card{
  padding: 1.5em .5em .5em;
  border-radius: 2em;
}